.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a1a1d;

  &__container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 50px 0;
    @media screen and (max-width: 768px) {
      padding: 0;
    }
    @media screen and (max-width: 991px) {
      padding: 20px 0;
    }

    &__content {
      padding: 0 15px;
      > h2 {
        margin: 0;
        padding: 1rem 0;
        color: #fff;
      }

      &__flex {
        display: flex;
        justify-content: space-between;
        column-gap: 19px;

        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
          column-gap: 0;
        }
        @media screen and (max-width: 991px) {
          flex-wrap: wrap;
          column-gap: 0;
        }
        &__wrap {
          max-width: 200px;

          @media screen and (max-width: 768px) {
            max-width: 130px;
            margin-bottom: 20px;
          }
          @media screen and (max-width: 991px) {
            max-width: 220px;
            margin-bottom: 20px;
          }
          &__img {
            border: 5px solid #c3073f;
            border-radius: 5px;

            > img {
              max-width: 100%;
              display: block;
            }
          }
          > h4 {
            margin: 0.5rem 0;
            font-size: 1.3rem;
            color: #fff;
            @media screen and (max-width: 768px) {
              font-size: 1rem;
            }
          }
          > p {
            margin: 0.5rem 0 0 0;
            font-size: 1.2rem;
            font-style: italic;
            color: rgb(219, 210, 210);

            @media screen and (max-width: 768px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
