.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a1a1d;
  box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14);

  &__container {
    max-width: 1296px;
    margin: 0 auto;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 768px) {
        padding: 0 15px;
      }

      &__head {
        > h2 {
          font-size: 1.7rem;
          color: #ffffff;
          margin: 1rem 0;

          @media screen and (max-width: 768px) {
            font-size: 1.3rem;
            margin: 0.7rem 0;
          }
        }
      }

      &__btn {
        > p {
          font-size: 1.3rem;
          border: 2px solid #fff;
          border-radius: 50px;
          cursor: pointer;
          background-color: #ffffff;

          @media screen and (max-width: 768px) {
            font-size: 1rem;
          }

          > span:first-child {
            color: #1a1a1d;
            border-radius: 50px;
            padding: 0rem 1rem;
          }
          > span:last-child {
            border-radius: 50px;
            padding: 0rem 1rem;
            color: #1a1a1d;
          }
        }
      }
    }
  }
}

.activeButton {
  background-color: #c3073f;
  color: #ffffff !important;
}
